.reset-container{
    width: 100%;
    height: 100vh;
    background-color: cornflowerblue;
    display: grid;
    place-items: center;
}
.email-box{
   max-width: 500px;
   width: 100%;
   height: 300px;
   background-color: white;
   border-radius: 5px;
   position: relative;
   padding: 0px 5px;
   font-weight: 600;
}
.reset-image{
    width: 60px;
    position: absolute;
    /* top: -50px; */
    left: 50%;
    transform: translate(-50%,-50%);
}
form{
    width: 75%;
}
.label{
    text-transform: capitalize;
    display: flex; 
    align-items: center;
    margin: 2px 0px;
    /* background-color: blue; */
}
.input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom:2px solid rgb(43, 42, 42) ;
    font-size: 14px;
    transition: border-bottom .3s;
    margin: 5px 0px;
}

.err-text{
    font-size: 14px;
    color: red;
}

.err-input{
    border-bottom-color:red;
}

.input:focus{
    border-bottom-color:cornflowerblue;
    outline: none;
}

.submit-btn-1{
      border: none;
      outline: none;
      padding: 7px 20px;
      background-color: cornflowerblue;
      color: white;
      margin-top: 15px;
      border-radius: 5px;
}
@media(width<767px){
    form{
        width: 100%;
    }
        .reset-container{
            background-color: white;
        }
}