<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tourno Soccer</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
  
    <div class="verify-container">
      <div class="verify-box">
        <div class="verified-img-box"></div>

        <div class="text-box">
          <h2>Verification successful !</h2>
          <p>
            Congratulations! Your email has been successfully verified. You can
            now log in to your account and start exploring all the features of
            our platform.
          </p>

          <button class="login-btn">
            <a href="http://localhost:3000/signin">Login</a>
          </button>

           <p>Thank you for being a part of our community!</p>
        </div>
      </div>
    </div>  

  </body>
</html>
